<h1>New Project</h1>

<%= form_for @project do |f| %>
  <fieldset class="input">
      <%= f.label :title %>
      <%= f.text_field :title %>
  </fieldset>

  <fieldset class="input">
      <%= f.label :description %>
      <%= f.text_area :description %>
  </fieldset>

  <fieldset class="button">
      <%= f.submit "Post" %>
  </fieldset>

<% end %>
